<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/js")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top bg b-pink">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand text t-bold t-white">CarOwner</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")" class="text t-bold t-white">Home</a></li>
                    <li><a href="@Url.Action("About", "Home")" class="text t-bold t-white">About</a></li>
                    <li><a href="@Url.Action("Contact", "Home")" class="text t-bold t-white">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row h50 lh50 padding-left-15 padding-right-15">
        
            
               
            <div id="user_zone">


            </div>
        
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="footer bg b-pink">
        <div class="container">
            <p class="no-margin text t-white t-bold">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        //유효 스코프의 범위를 고려해 가장 위에 선언해 둠.
        let userid, userpassword, login;
        login = d.getElementById("login");

        /*
        login.onclick = function login() {
            userid = d.getElementById("userid").value;
            userpassword = d.getElementById("userpassword").value;
            log(userid, userpassword);
        }
        */


        ///step00
        //아이디와 비밀번호를 얻는다.
        let get_idpw = () => {
            userid = d.getElementById("userid").value;
            userpassword = d.getElementById("userpassword").value;
        }

        ///step01
        //로그인 값을 체크하는 함수: 특이사항 사용자가 버튼으로 직접 요청시 작동하는 함수.:login_value_check
        let login_value_check = () => {

            get_idpw();

            if (!checkNull(userid) || !checkNull(userpassword)) {
                return false;
            }

            let res = {
                userid, userpassword
            };
            return res;
        }

        

        window.onload = function () {
            //쿠키가 있는지 없는지의 여부를 확인해 다른 화면을 렌더링한다
            let getUserInfo = getCookie(['CarOwnerId', 'CarOwnerNm', 'CarOwnerMi']);
            if (!getUserInfo) {
                let user_zone = d.getElementById('user_zone');
                user_zone.innerHTML = `
                    <div class="col-xs-5 no-padding pos-re">
                        <input type="text" class="input pos-ab left-0" id="userid" placeholder="ID" />
                    </div>
                    <div class="col-xs-5 padding-left-15 no-padding pos-re">
                        <input type="password" class="pos-ab left-05 input" id="userpassword" placeholder="PW" />
                    </div>
                    <div class="col-xs-2 padding-left-15 no-padding ">
                        <button class="button btn-pink" id="login" onclick="send_login_req()">
                            <span class="top-0">GO</span>
                        </button>
                    </div>
                `;
            } else {
                alert(getUserInfo);
            }
        }


        
        ///step02
        //로그인 값을 가지고 서버로 전송하는 함수: 특이사항 사용자가 버튼으로 직접 요청시 작동하는 함수 로그인 체크 함수 안에서 이뤄지는 ㅎ마수.
        let send_login_req = () => {
            let value = login_value_check();
            if (value) {
                log(value);
                $.post("@Url.Action("Login", "Home")", value, (res) => {
                    if (res) {
                        //log(res);
                        let getUserInfo = getCookie(['CarOwnerId', 'CarOwnerNm', 'CarOwnerMi']);
                        let userNm = (getUserInfo['CarOwnerNm'])[1];
                        let userMi = (getUserInfo['CarOwnerMi'])[1];
                      
                       
                        
                    } else {
                        alert('아이디 혹은 비밀번호를 확인하세요');
                    }
                })
                .done(function () {
                    //alert("second success");
                })
                .fail(function (request, status, error) {
                        alert(error);
                })
                .always(function () {
                    //alert("finished");
                });
             
            } else if (value === false) {
                alert('아이디 혹은 비밀번호를 확인하세요');
            }
            
            

        }

        
        ///실행코드
        //login.addEventListener("click", send_login_req, false);        
            //이미 로그인을 했다면 다시 로그인 함수를 사용할 필요가 없으므로 쿠키의 값 여부를 판별할 수 있는 함수를 만든다.
            //: 특이사항 사용자가 버튼으로 직접 요청하지 않고, 그냥 모든 페이지의 요청마다, 이 함수가 자동으로 실행되도록 온로드 안에 포함시킬 함수.

            //쿠키의 값 여부를 판단한 함수 이후에,
            //:; 특이사항 있다면 로그인 함수 대신 화면에 출력할 사용자 아이디와 사용자 마일리지 등의 정보를 가져와 활용할 수 있도록 하는 함수를 만든다



    </script>
</body>
</html>









